* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: helvetica, sans-serif;
}

header {
  height: 100px;
  width: 100vw;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6cd3f6;
}

button, input {
  padding: 5px;
  font-size: 1.25rem;
  border-radius: 5px;
}

.title {
  font-size: 3rem;
}

.current-weather {
  display: flex;
  border-bottom: 2px solid black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 15px;
  width: 66vw;
  justify-content: ;
}

.main-data {
  display: flex;
  border-right: 2px solid black;
  margin: 10px;
  padding: 10px
}

.main-left {

}

.main-right {
  display: flex;
  flex-direction: column;
}

.current-data {
  padding: 5px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 5px;
}

.datum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.datum-title {
  display: flex;
  justify-content: center;
  font-size: .8rem;
  color: rgb(97, 97, 97);
}

.datum-value {

}

.forecast-card {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.forecast .datum {
  width: 75px;
  align-items: center;
  justify-content: center;
}

.forecast-card:nth-child(even) {
  background: lightgray;
}