* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: helvetica, sans-serif;
}

header {
  height: 100px;
  width: 100vw;
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6cd3f6;
}

.title {
  font-size: 3rem;
}

.current-weather {
  display: flex;
  
}

.main {

}

.main-data {
  display: flex;

}

.main-right {
  display: flex;
  flex-direction: column;
}

.current-data {
  padding: 5px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 5px;
}

.datum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}